{% extends "blog/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> Blog Post </legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-success"> Post </button>
                <a href="{% url 'post-detail' object.id %}" class="btn btn-outline-secondary ml-4"> Cancel </a>
            </div>
        </form>
    </div>
{% endblock content %}