{% extends "blog/base.html" %}

{% block content %}
<h2 class="mb-4"> Total {{ page_obj.paginator.count }} of posts by {{ view.kwargs.username }}</h2>
    {% for post in posts %}
    <article class="media content-section">
      <img src="{{ post.author.profile.image.url }}" class="rounded-circle article-img" alt="">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-post' post.author.username %}">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted|date:"D, d F Y, P" }}</small>
          </div>
          <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
          <p class="article-content">{{ post.content }}</p>
        </div>
      </article>
    {% endfor %}
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a href="{% url 'user-post' view.kwargs.username %}?page=1" class="btn btn-outline-info mb-4 mr-1">First</a>
        {% endif%}
          {% for num in page_obj.paginator.page_range %}
            {% if num == page_obj.number  %}
            <a href="{% url 'user-post' view.kwargs.username %}?page={{ num }}" class="btn btn-info mb-4 ml-1 mr-1">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'  %}
              <a href="{% url 'user-post' view.kwargs.username %}?page={{ num }}" class="btn btn-outline-info mb-4 ml-1 mr-1">{{ num }}</a>
            {% endif%}
         {% endfor %}

         {% if page_obj.has_next %}
         <a href="{% url 'user-post' view.kwargs.username %}?page={{ page_obj.paginator.num_pages}}" class="btn btn-outline-info mb-4 ml-1">Last</a>
     {% endif%}
  {% endif%}
{% endblock content %}

